
.backgFooter{
    width: 100%;
    height: 300px;
    background-repeat:no-repeat;

    background-size: 100%;
    background-position: center;
    object-fit:fill;

color: white;

   display: flex;
   justify-content: center;
   align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSel7hL8vXn5R8FM04iOvNBZnylMaVvdLinBA&usqp=CAU");
}